
@font-face {
    font-family: "Lmmonolt";
    src: url("../fonts/lmmonolt10-regular.ttf");
}

html {
    font-family: "Lmmonolt", sans-serif;
    align-content: center;
}


#topcontent{
    display: none;
}

body{
    margin: auto;
    padding: 5%;
}

.centerbold {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
}

.about p {
    margin: 0;
    padding: 0;
}

.fluent-button {
    border: none;
    background-color: transparent;
    color: darkgray;
    cursor: pointer; /* Change cursor to pointer for better UX */
    font-weight: bold;
    transition: color 0.3s ease, transform 0.1s ease; /* Transition for text color and scale */
}

#darkModeToggle {
}

#darkModeToggle:hover {
    animation: shadowDark 1.5s forwards;
}

@keyframes shadowDark {
    0% {
        filter: drop-shadow(0 0 0 black);
    }
    100% {
        filter: drop-shadow(0px 0px 20px black); /* Reduced final shadow size for clarity */
    }
}

#anotherButton {

}

#anotherButton:hover {
    animation: shadowCrimson 1.5s forwards;
}

@keyframes shadowCrimson {
    0% {
        filter: drop-shadow(0 0 0 crimson);
    }
    100% {
        filter: drop-shadow(0px 0px 10px crimson); /* Reduced final shadow size for clarity */
    }
}

.fluent-button:active {
    transform: scale(0.95); /* Slightly reduce size on click */
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1c;
        color: #fff;
    }

    .icon {
        filter: invert(1);
    }

    .fluent-button {
        color: #fff;
    }


}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        color: #000;
    }

    .icon {
        filter: invert(0);
    }

    .fluent-button {
        color: darkgray;
    }


}


.dark-mode {
    background-color: #1c1c1c;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #000;
}

.dark-mode .icon {
    filter: invert(1);
}

.light-mode .icon {
    filter: invert(0);
}

.dark-mode .fluent-button {
    color: #fff;
}

.light-mode .fluent-button {
    color: darkgray;
}
